.clocking{
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  .infotroduce{
    height: 130px;
  }
  .card{
    height: 780px;
    margin-top: 10px;
  }
  .anination{
    flex-grow: 1;
  }
}
