:root {
  --theme-primary: #13c2c2;
}

html,
body,
div,
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.icon {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
}